@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Lucida Grande", "Arial", "ヒラギノ角ゴシック", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
    color : #111;
    width: inherit;
    height: inherit;
    background-color:#fdfff3;
    line-height: 1.8;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
}

.right-align
{
    display: flex;
    justify-content: right;
}

#cancel {
    -webkit-appearance: none;
    border-radius: 3px;
    color: #fff;
    border: none;
    font-size:18px;
    font-weight: bold;
    padding: 11px 22px;
    cursor: pointer;
    background-color: coral;
    margin: 5px;
}

#qr-scanner {
    width: 100%;
    max-width: 350px;
    aspect-ratio: 1 / 1;
}